
 html {
    line-height: 1.13; 
    -webkit-text-size-adjust: 100%; 
  }
  

  body {
    margin: 0;
    
 

  }
  
  header {
    align-items: center;
    display: grid;
    grid-template-columns: 120px auto;  
}
  
  main {
    display: block;

  }
  
  
  h1 {
    font-size: 2.1em;
    margin: 0.66em 0;
  }
  
  
  hr {
    box-sizing: content-box;
    height: 0; 
    overflow: visible; 
  }
  
  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  
  a {
    background-color: transparent;
  }
  
  
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  

  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.24em;
  }
  
  sup {
    top: -0.6em;
  }
  

  img {
    border-style: none;
  }
  
  
  fieldset {
    padding: 0.36em 0.76em 0.624em;
  }
  
  
  legend {
    box-sizing: border-box; 
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
  }
  
  progress {
    vertical-align: baseline;
  }
  

  textarea {
    overflow: auto;
  }
  

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  

  [type="search"] { 
    outline-offset: -2px; 
  }
  
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  

  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  
  
  details {
    display: block;
  }
  

  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  

  [hidden] {
    display: none;
  }